name: CI-CD Pipe

on:
    push:
        branches:
            - "main"

env:
    DOTNET_VERSION: "10.0.x"
    AWS_REGION: eu-west-2

jobs:
    Prettier:
        name: Prettier Check
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Prettier Check
              run: npx prettier --check .

    DotNet:
        name: DotNet Build and Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Setup .NET
              uses: actions/setup-dotnet@v5
              with:
                  dotnet-version: ${{ env.DOTNET_VERSION }}
            - name: DotNet Format
              run: dotnet format --verify-no-changes
            - name: DotNet Build
              run: dotnet build --configuration Release --no-restore
            - name: DotNet Test
              run: dotnet test -v d --configuration Release --no-restore --no-build

    CD:
        name: Deploy with AWS CDK
        runs-on: ubuntu-latest
        needs: DotNet
        if: github.ref == 'refs/heads/main' # only deploy from main
        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v5.1.0
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ env.AWS_REGION }}

            - name: Setup .NET
              uses: actions/setup-dotnet@v5
              with:
                  dotnet-version: ${{ env.DOTNET_VERSION }}

            - name: Install AWS CDK
              run: npm install -g aws-cdk

            - name: CDK Synth (sanity check)
              run: cdk synth

            - name: CDK Deploy
              run: cdk deploy EmbassyAirlinesStack --require-approval never
